.faq {
    padding: 5.6vw;
    h2 {
        text-align: center;
        margin-bottom: 24px;
    }
    &__questions {
        max-width: 800px;
        margin: 0 auto;
        list-style: none;

        &__item {
            background-color: #13151d;
            border-bottom: 1px solid #ccc;
            padding: 16px 0;

            &__question {
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
            }

        }
    }
}


