//$hero: 'https://srv-estaticos.vercel.app/hero_desktop.jpeg';
$hero: '/dist/Images/hero_desktop.jpeg';

//$hero: '/dist/Images/fundo_rei_leao_celular.png';

.hero {

    display: flex;
    position: relative;
    top: -30px;
    
    background-repeat: no-repeat;
    background-size: 150% 150%;
    padding: 7.0vw;
    min-height: 60vw; // ISSO CORTA A IMAGEM deixando meno dos lados e em cima
    background-image: url("#{$hero}");
    align-items: center;
    background-position: center center;


            
        &__content {
            max-width: 640px;
           // background-color: green; // This for testing to function
        }
        &__content__branding {
            max-width: 320px;
            margin: 0 auto 38px;
           // background-color: red; // This for testing to function
        }

}

