@use 'colors';  // PARA FAZER USO CAS CORES NO CARQUIVOS colors use explemplo: colors.$corPrincipal
//$hero: 'https://srv-estaticos.vercel.app/hero_desktop.jpeg';
$hero: '/dist/Images/hero_desktop.jpeg';

//$hero: '/dist/Images/fundo_rei_leao_celular.png';

.hero {

    display: flex;
    position: relative;
    top: 80px;
    background-repeat: no-repeat;
    min-height: 50vw; // ISSO CORTA A IMAGEM deixando meno dos lados e em cima
    background-image: url("#{$hero}");
    align-items: center;




        &__content {
            max-width: 640px;
           // background-color: green; // This for testing to function
        }
        &__content__branding {
            max-width: 320px;
            margin: 0 auto 38px;
           // background-color: red; // This for testing to function
        }
        // Area de estilização dos combos
        &__content__combos { // Aqui é somente as ul e li
            display: flex;
            justify-content: space-between;
            background-color: rgb(0, 102, 255);
        }
            &__item__combo { //    Aqui tenho o combo 01
                width: calc(50% - 12px);
                background-color: rgb(22, 208, 63);
                img {
                    max-width: 100px;
                }
                button {
                    display: block;
                    width: 100%;
                    height: 60px;
                    color: colors.$corTextoSecundaria;
                }
            }

}

