.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

    }
    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
    }
    &__links {
        display: flex; // para deixar uma ao lado da outra



            &__item {
            margin: 5px;
        }
    }

    button {
        height: 50px;
        padding: 14px;
    }

}
