@use 'hero';
@use 'colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: colors.$corDeFundo;
}

.hero {
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    margin: 0 35px;
}


//  AREA DO MIXIN
@mixin text($FontSize: 16px) {
    font-size: $FontSize;
    line-height: $FontSize + 10px;
    color: colors.$corTextoPrincipal;
}

.text--big {
    @include text(18px);
}
.text {
    @include text;
}
.text--small{
    @include text(12px)

}

@mixin title($FontSize: 28px) {
    @include text($FontSize);

    color: colors.$corTextoSecundaria;
}
.title--big {
    @include title(44px)
}

.title {
    @include title;
}
.title--small {
    @include title(28px);
}

.link-text {
    @include text(18px);
    color: colors.$corTextoSecundaria;
    text-decoration: underline;
}

