@use 'hero';
@use 'colors';
@use 'shows';
@use 'plans';
@use 'available-devices';



@font-face {
    font-family: Avenir;
    src: url(../../assets/Avenir\ Next\ LT\ Pro\.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

body {
    background-color: colors.$corDeFundo;

}

.hero {
    background-size: cover;
    background-position: center;
    //align-items: left;
    text-align: center;

}


//  AREA DO MIXIN
@mixin text($FontSize: 16px) {
    font-size: $FontSize;
    line-height: $FontSize + 10px;
    color: colors.$corTextoPrincipal;
}

.text--big {
    @include text(18px);
        padding-bottom: 16px;
}
.text {
    @include text;
    padding-bottom: 16px;
}
.text--small{
    @include text(12px);
    padding-bottom: 24px;

}

@mixin title($FontSize: 28px) {
    @include text($FontSize);

    color: colors.$corTextoSecundaria;
}
.title--big {
    @include title(44px);
        padding-bottom: 16px;
}

.title {
    @include title;
    padding-bottom: 16px;
}
.title--small {
    @include title(28px);
    padding-bottom: 16px;
}

.link-text {
    @include text(18px);
    color: colors.$corTextoSecundaria;
    text-decoration: underline;
}

.shows {
    margin: 0 auto;
}

.plans {
    margin: 0 auto;
}


                .button {
                    display: block;
                    width: 100%;
                    height: 60px;
                    color: colors.$corTextoSecundaria;
                    background-color: #6421ff;
                    border-radius: 9px;
                    text-transform: uppercase;
                    margin-top: 2vw;
                    margin-bottom: 8px;
                    transition: background-color 0.3s ease;
                    border: none;

                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                .button:hover {
                        background-color: #7940ff;
                }
                .button:active {
                        background-color: #a888f3;
                }

    .image__text__section {
        padding: 5.6vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        img {
            max-width: 100%;
        }
        

        &__text__container {
            padding: 0 2vw;

            h2 {
                margin-bottom: 24px;
            }
        }
}


.image-text-section--image-full-width {
                display: block;
            position: absolute;

            img {
                width: 100%;
                margin: 0 auto;
            }
}

    .image__text__container {
            position: relative;
            top: -33vw;
            left: 50vw;
            height: 100%;
            width: calc(50% - 10vw);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

