@use 'hero';

.plans {
    align-items: center;
    padding: 5.6vw;

    h2 {
    text-align: center;

    }

    &__list {
        display: flex;
        justify-content: space-around;
        list-style: none;

        &__item {
        text-align: center;
        max-width: 380px;
        }

        padding-bottom: 24px;
    }

    p {
        text-align: center;

    }
        strong {
        display: block;
        }
    }