// Área de importação
@use 'colors';


// Área do Bloco de Código
.shows {
    align-items: center;
    padding: 2vw 5.6vw;
    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        list-style: none;


        &--is-active {
        display: grid;
        }

        &__item {
            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }

    &__tabs{
        display: flex;
        justify-content: center;
        padding-top: 10px;

        &__button{
            color: colors.$corTextoSecundaria;
            font-size: 20px;
            background: none;
            padding-bottom: 5px;
            margin: 0 1vw;
            text-transform: uppercase;
            border: none;
            border-bottom: 5px solid transparent;

            cursor: pointer;
            &--is-active {
            border-color: colors.$corTextoSecundaria;

            }


        }
    }
}
